<!DOCTYPE html>
<html lang="en">

{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Agjent Pershkrim</title>
    <link rel="icon"  href="{% static 'images/icon.png'%}">
    <link rel="stylesheet" href="{% static 'bootstrap-5.0.0-beta2-dist/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/AgjentPershkrim.css' %}">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
          integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">

</head>

<body style="background-color: rgb(245, 245,245)">

<!--navbar-->
{% include 'Navbar.html' %}
<!--mbyll navbar-->


<!-- background  image per agjentin-->
<div class="fixed_img">
</div>
<!-- mbyll background  image per agjentin-->


<!--carta e agjentit-->

<div class="container">

    <div class="card w-75 mx-auto  border-0  shadow">
        <div class="row w-auto">
            <!--imazhi + titulli-->
            <div class="img_title col-lg-7 col-sm-12 mt-4 text-center">
                <img src="{{ agjent.imageURL }}" class=" img_agent img-fluid my-5 "
                     alt="Agent">
                <div class="lloji position-absolute top-0 my-4 ">
                    <p class="text-white fs-4">agjent</p>
                </div>
            </div>
            <!--kontaktet e agjentit-->
            <div class="card-body col-lg-5 col-sm-12 my-auto text-start">
                <p class="card-title fs-3 text-capitalize text-center  fw-bold">{{ agjent.name_surname }}</p>
                <div class="mt-3">
                    <ul class="list-unstyled py-5 text-center ">

                        <li class="py-2">
                            <a href="mailto:{{ agjent.email_agjent }}" class="fs-5 text-dark text-decoration-none">
                                <i class="fas fa-envelope-square fs-5 text-dark"></i>
                                &nbsp; &nbsp; {{ agjent.email_agjent }}
                            </a>
                        </li>
                        <li class="py-2">
                            <a href="tel:0{{ agjent.tel_1_agjent }}" class="fs-5 text-dark text-decoration-none">
                                <i class="fa fa-phone fs-5 text-dark"></i>
                                &nbsp; &nbsp; 0{{ agjent.tel_1_agjent }}
                            </a>
                        </li>
                        {% comment %}<li class="py-2">
                            <a href="tel:{{ agjent.tel_2_agjent }}" class=" text-dark text-decoration-none">
                                <i class="fa fa-fax fs-5 text-dark   ms-2"></i>
                                 &nbsp; &nbsp; {{ agjent.tel_2_agjent }}
                            </a>
                        </li>{% endcomment %}
                        <li class="py-2">
                            <a href="#" class="fs-5  text-dark text-decoration-none ">
                                <i class="fas fa-map-marker-alt fs-5 text-dark"> </i>
                                &nbsp; &nbsp; {{ agjent.adresa_agjent }}
                            </a>
                        </li>
                    </ul>
                </div>
                <!--experience -->
                <div class="text-center w-100 me-3 py-2">
                    <div class="row text-center ms-5 mx-auto">
                        <div class="s col-lg-4  col-sm-12  border-secondary">
                            <p class="fs-4 fw-bold text-primary">{{ agjent.shitjet }}</p>
                            <p class="text-capitalize text-secondary">shitjet totale</p>
                        </div>
                        <hr class="col-lg-4 col-sm-12 w-25 mt-5">
                        <div class="col-lg-4 col-sm-12 ">
                            <p class="fs-4 fw-bold text-primary">{{ agjent.eksperienca }}</p>
                            <p class="text-secondary text-capitalize">vite eksperience</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- mbyll backround image per agjentin-->

    <!--pershkimi i agjentit-->
    <div class="container">
        <div class="decription_agent">
            <p class="fs-2 pb-3 fw-bold">Pershkrimi i agjentit</p>
            <p>
                {{ agjent.agjent_pershkrimi }}
            </p>
{#            <p>#}
{#                {{ agjent.agjent_pershkrimi }}#}

        </div>
    </div>
    <!--mbyll pershkimin i agjentit-->

    <!--cartat e agjentit-->
    <div class="container mt-5">
        <div class="pronat_agjentit">
            <p class="p fs-2   fw-bolder">Pronat me te fundit te agjentit</p>
            <!--hr-->
            <hr>
            <div class="row mt-5" style="padding-top: 40px">
                {% for pr in prona_rev %}

                    <div class="col-lg-4 col-md-4 col-ms-12">
                        <div class="card w-100">
                            <a href="prona.html">
                                <img src="{{ pr.imageURL }}" class="card-img-top img-fluid img-responsive"
                                     alt="msh" style="width:100%; height: 300px">
                                <span class="badge  badge-danger fs-6"> {{ pr.kategoria }} </span>
                            </a>
                            <a href="">
                                <img class="card-agent-photo w-25 h-25 " src="{{ agjent.imageURL }}">
                            </a>
                            <div class="card-body">

                                <h5 class="card-title text-start">Cmimi {{ pr.negocimi }}</h5>
                                <h6 class="text-start">{{ pr.kategoria }} 2+1</h6>
                                <p class="card-text text-start"><small class="text-muted"><i
                                        class="fas fa-map-marker-alt"></i>{{ pr.vendndodhja }}</small></p>
                                <p class="card-text text-end"><small class="text-muted">{{ pr.kodi_prones }}</small></p>

                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>

        </div>
    </div>
    <!--mbyll cartat e agjentit-->


    <!--gjith cartat e agjentit-->
    <div class="gjith_pronat_agjentit">
        <p class="p fs-2   fw-bolder">Gjithe pronat e agjentit</p>

        <hr>

        <div class="row mt-5" style="padding-top: 40px">

            {% for pr in prona %}

                <div class="col-lg-4 col-md-4 col-ms-12">
                    <div class="card w-100">
                        <a href="prona.html">
                            <img src="{{ pr.imageURL }}" class="card-img-top img-fluid img-responsive" alt="msh" style="width:100%; height: 300px">
                            <span class="badge  badge-danger fs-6"> {{ pr.kategoria }} </span>
                        </a>
                        <a href="">
                            <img class="card-agent-photo w-25 h-25 " src="{{ agjent.imageURL }}">
                        </a>
                        <div class="card-body">
                            <h5 class="card-title text-start">Cmimi {{ pr.negocimi }}</h5>
                            <h6 class="text-start">{{ pr.kategoria }} 2+1</h6>
                            <p class="card-text text-start"><small class="text-muted">
                                <i class="fas fa-map-marker-alt"></i>{{ pr.vendndodhja }}</small></p>
                            <p class="card-text text-end"><small class="text-muted">{{ pr.kodi_prones }}</small></p>
                        </div>
                    </div>
                </div>

            {% endfor %}

        </div>
    </div>


</div>
<!--mbyll cartat e agjentit-->


<!--hap footer-->
{% include 'Footer.html' %}
<!--mbyll footer-->


<script src="{% static 'bootstrap-5.0.0-beta2-dist/js/bootstrap.min.js' %}"></script>
</body>

</html>