<!DOCTYPE html>
<html lang="en">

{% load static %}
<head>
     <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>About Us</title>

  <link rel="stylesheet" href="{% static 'bootstrap-5.0.0-beta2-dist/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/Navbar.css' %}">

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
    integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">


</head>
<body>

  <!--navbar-->
    <nav class="navbar navbar-expand-lg sticky-top navbar-light bg-light  custom_navbar">
    <div class="container-fluid h-25">
      <a class="navbar-brand "  href="http://127.0.0.1:8000">
        <img style="" src="{% static 'images/logo_navv.png'%}" alt="logo">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active px-3" aria-current="page" href="http://127.0.0.1:8000">Kreu</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active px-3" aria-current="page" href="http://127.0.0.1:8000/About">Rreth nesh</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle px-3" href="http://127.0.0.1:8000/listprona" id="navbarDropdown" role="button"
               data-bs-toggle="dropdown" aria-expanded="false">
              Prona
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">

                {% for category in category_list%}
               <li><a class="dropdown-item" href="/pronat/{{category.name}}">{{category.name}}</a></li>
              {% endfor%}
                <hr>
             <li><a class="dropdown-item" href="http://127.0.0.1:8000/listprona">Te gjitha</a></li>
            </ul>
          </li>

          <li class="nav-item">
            <a class="nav-link active px-3" aria-current="page" href="http://127.0.0.1:8000/ListaAgjenteve">Agjente</a>
          </li>

          <li class="nav-item">
            <a class="nav-link active px-3" aria-current="page" href="http://127.0.0.1:8000/Kontakt">Kontakt</a>
          </li>
        </ul>

      </div>
    </div>
  </nav>


  <!--mbyll navbar-->

</body>
</html>